.address-link {
    color: blue;
    text-decoration: underline;
    margin-left: 2.5rem;
    width: fit-content;
}

.address-link:hover {
    cursor: pointer;
}

#container {
    width: fit-content;
}

input[name="searchProducts"] {
    margin-left: 1rem;
}